@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add more weights if necessary */

div.v-data-table-footer {
    display: flex;
    justify-content: space-between;
}

.btn-search {
    display: flex;
    justify-content: space-between;
}
body {
    background-color: #f8f8f8;
}
/* .custom-app-background {
  background-color: var(--v-theme-lightSectionBg);
  min-height: 100vh; /* ensure full-page background
} */

.v-table > :nth-child(1) > :nth-child(1) > :nth-child(1) > tr {
   background-color: #b0c9d8;
    border-left: 4px solid #f4d03f;
    border-bottom: 4px solid #ffff;
    border-width: 4px;
    border-top: none;
    border-right: none;
}


.v-data-table__tr {
    border-bottom: 4px solid #ffff;
    border-left: 4px solid #f4d03f !important;
    border-right: none;
    border-width: 4px;
}
[dir="rtl"] .v-data-table__tr {
    border-bottom: 4px solid #ffff;
    border-right: 4px solid #f4d03f !important;
    border-left: none !important;
    border-width: 4px;
}
[dir="rtl"].v-table > :nth-child(1) > :nth-child(1) > :nth-child(1) > tr {
      background-color: #b0c9d8;

    border-right: 4px solid #f4d03f !important;
    border-left: none;
    border-bottom: 4px solid #ffff;
    border-width: 4px;
    border-top: none;
}

div.v-data-table-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

[dir="rtl"] div.v-data-table-footer {
    display: flex;
    flex-direction: row-reverse;
    direction: ltr;
}

.span {
    background-color: #ecf1f4;
    position: absolute;
    right: 0px;

    top: 100%;
    transform: translateY(-100%);
    padding: 0.4rem 0rem 0rem 0.2rem;
    width: 3rem;
    height: 2.5rem;
}

.paidSpan {
    background-color: #ecf1f4;
    position: absolute;
    right: 0px;

    top: 100%;
    transform: translateY(-100%);
    padding: 0.4rem 0rem 0rem 0.2rem;
    width: 8rem;
    height: 2.5rem;
}

.styleBTN {
    border: 1px solid #00893f;
    display: flex;
    flex-wrap: nowrap;
}
.v-navigation-drawer__content {
    flex: 0 1 auto;
    height: 100%;
    max-width: 100%;
    /* overflow-x: hidden; */
    overflow-y: hidden !important;
}
